<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Проект VUE</title>
	<link rel="stylesheet" href="styles.css">
	<script src="https://unpkg.com/vue@next"></script>
</head>

<body>

    <h1>Заголовок</h1>


<div id="container">

	<div id="CityJSON">
	
	<table>
	<tr  v-for="n in dataJSON" key="n.city">
		<td v-on:click="getInfo(n)">
			{{ n.city }}
		</td>
	</tr>
	</table>
    </div>
	
	
	<div id="InfoJSON" v-if="showInfo">
		<div id="Info">
			{{ info }}
		</div>
		<div id="Button">
			<button type="button" id="CloseButton" v-on:click="closeInfo">
				Close
			</button>
		</div>
	</div>
	

<!-- выделение строк через VUE  -->
  <!-- <ol> -->
    <!-- <li v-for="value in dataJSON" v-on:mouseover="onHover" v-on:mouseout="outHover"> -->
      <!-- {{ value }} -->
    <!-- </li> -->
  <!-- </ol> -->


</div>

<script type="text/javascript" src="script.js"></script>


</body>

</html>