h1 {
	color: red;
}

	
td{
	padding: 8px;
	cursor: pointer;
}
	
	
tr:hover {
	background-color: lightgray;
}

#container {
	display: flex;
}

#CityJSON {
	width: 200px;
}

#InfoJSON {
	display: flex;
	width: 100%;
    flex-direction: row;
    justify-content: flex-start;
}

#Info {
    width: 100%;
    padding: 8px;
	background-color: lightblue;
}

#Button {
    width: 50px;
    padding: 8px;
	background-color: lightblue;
}